<app-navbar></app-navbar>
<div class="centered-title-container">
    <h1 >Reservations Details</h1> 
</div>
<calendar [destinationID]="destinationID" ></calendar>
<div class="centered-title-container">
    <h1 >Number of Reservations per Month</h1> 
</div>
<div class="chart-container">
    <canvas  id="MyChart" >{{ chart }}</canvas>
</div>
