<app-navbar></app-navbar>
<div class="centered-title-container">
    <h1>Contact informations</h1>
</div>
<div class="main-container">
    <div class="info">
        <mat-icon>call</mat-icon>
        <h2>Tel: 0755854321</h2>
    </div>
    <div class="info">
        <mat-icon>mail</mat-icon>
        <h2>Email: worldTravel@gmail.com</h2>
    </div>
    <div class="info">
        <mat-icon>home</mat-icon>
        <h2>Cluj-Napoca Str. Lalelelor nr. 25</h2>
    </div>
</div>
