.main-container{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column;
  }
  .card-style{
    background-color: rgb(20, 239, 170);
    display: flex;
    align-self: center;
    width: 70%;
    justify-content: center;
    margin-bottom: 15px;
  }
  .card-info{
    display: flex;
    align-self: center;
    justify-content: flex-start;
    flex-direction: row;
  }
  .image{
    display: flex;
    justify-content: flex-start;
    width:50%;
    height: 50%;
    padding-right: 5%;
    padding-bottom: 20px;
    
  }

  .centered-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .picker{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button{
    margin: 5px;
  }

  .button2{
    width: 200px;
    align-self: center;
    margin-bottom: 10px;
    margin-top:10px;
  }