.centered-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .centered-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .main-container{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: flex-start;
    flex-direction: column;
  }
  .text{
    display: flex;
    justify-content: flex-start;
    font-size:larger;
    padding-bottom: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif
  }
  .images-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .image{
    display: flex;
    justify-content: center;
    width:40%;
    padding-right: 5%;
    padding-bottom: 20px;
  }

  .background{
    display: flex;
    justify-content: flex-start;
    width:100%;
    height: 500px;
  }

  .text-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Text color */
}
  