<app-navbar></app-navbar>
<div class="centered-image-container">
    <img class ="background" src="assets/paris.jpg" alt="Logo">
</div>
<div class="text-overlay">
    <h1>World Travel</h1>
</div>
<div class="main-container">
    <h1 class="centered-title-container"> Rezervati acum un sejur de exceptie</h1>
    <span class="text">
        Bine ati venit la World Travel - pasaportul catre aventuri neasteptate si experiente de neuitat! Suntem o agentie de turism dedicata sa va transforme visurile de calatorie in realitate. La World Travel, credem ca fiecare destinatie are o poveste de spus si fiecare calatorie este o experienta unica. 
    </span>
    <span class="text">
        World Travel va ofera o gama variata de destinatii, de la plaje spectaculoase la orase vibrante si peisaje montane uluitoare. Indiferent de preferintele dvs., avem o gama larga de pachete turistice personalizate pentru a va indeplini visul de vacanta perfecta.
        Suntem mandri sa va oferim experiente de calatorie cu adevarat memorabile. De la excursii culturale si aventuri de explorare la croaziere luxuriante si escapade romantice, fiecare calatorie cu World Travel este conceputa pentru a va oferi amintiri de neuitat si experiente autentice.
        Ne straduim sa oferim servicii personalizate pentru fiecare client. 
    </span>
    <span class="text">
        Indiferent daca doriti o vacanta relaxanta cu familia sau o escapada romantica in doi, suntem aici sa va ascultam dorintele si sa va transformam visul in realitate.
        Indiferent de destinatia aleasa, World Travel va invita sa va alaturati noua pentru a descoperi frumusetile lumii si pentru a crea amintiri de neuitat. Contactati-ne astazi pentru a incepe planificarea aventurii dvs. de vis!
    </span>
    <h1 > Locatii:</h1>
    <div class="images-container" >
        <img class="image" src="assets/roma.jpg" alt="roma">
        <img class="image" src="assets/paris.jpg" alt="paris">
    </div>
    <div class="images-container" >
        <img class="image" src="assets/beach.png" alt="beach">
        <img class="image" src="assets/Japonia.jpg" alt="Japonia">
    </div>
   <div class="images-container" >
    <img class="image" src="assets/india.jpeg" alt="india">
    <img class="image" src="assets/newYork.jpeg" alt="new">
</div>
</div>

