<mat-card class="card">
    <div class="form-component">
        <h1>Edit Destinations</h1>
        <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)">
            <mat-form-field>
                <mat-label>Price per Night</mat-label>
                <input matInput type="number" name="pricePerNight" required [(ngModel)]="data.pricePerNight">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Free rooms</mat-label>
                <input matInput type="number" name="freeRooms" required [(ngModel)]="data.freeRooms">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput type="text" name="description" required [(ngModel)]="data.description"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Offer</mat-label>
                <input matInput type="number" name="offer" [defaultValue]="0" [(ngModel)]="data.offer">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Image URL</mat-label>
                <input matInput type="text" name="imageUrl" required [(ngModel)]="data.imageUrl">
            </mat-form-field>
            <button mat-raised-button type="submit" [disabled]="editForm.form.invalid"  color="primary">Edit</button>
        </form> 
    </div>
    </mat-card>
